<div class="bg-theme p-4">
  <div class="container mt-4">
    <h1>All Books</h1>
    <p>“Books are a uniquely portable magic.” - Stephen King</p>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let book of booksArray">
      <div class="card shadow-effect">
        <img src="{{ book.image }}" alt="post-image" class="card-img-top" />
        <div class="card-body">
          <small class="text-center"> {{ book.author }} </small>
          <small class="text-center ml-3"> {{ book.points }} </small>
          <small class="text-center ml-3"> {{ book.condition }} </small>

          <h5 class="mt-1">{{ book.name }}</h5>
          <p>{{ book.description | slice : 200 }}</p>

          <small class="text-center ml-3"> Added: {{ book.added }} </small>
        </div>
      </div>
    </div>
  </div>
</div>
