.container {
  color: var(--body-text-color);
}

.card {
  max-width: 350px;
  border: 1px;
  color: var(--body-text-color);
  background-color: var(--light-color);
}

.card-img-top {
  max-width: 350px;
  max-height: 400px;
}
