<section class="p-4 bg-theme">
    <div class="container mt-5 mb-5 p-4 bg-secondary-theme">
        <h1 class="text text-center">About Us</h1>
        <div class="text-container p-5 mt-4">

            <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, quae voluptate vitae consequuntur facilis vel cumque, fuga porro, praesentium dolor hic nihil quis accusantium sequi magnam quia. Dolores, optio quaerat!</p>
            <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, quae voluptate vitae consequuntur facilis vel cumque, fuga porro, praesentium dolor hic nihil quis accusantium sequi magnam quia. Dolores, optio quaerat!</p>
            <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, quae voluptate vitae consequuntur facilis vel cumque, fuga porro, praesentium dolor hic nihil quis accusantium sequi magnam quia. Dolores, optio quaerat!</p>
            
            <div class="text-center">
                <button class="btn btn-sm mt-4">Back to Home</button>
            </div>

        </div>
    </div>
</section>