<section class="p-4 bg-theme">
  <div class="container mt-5 mb-5 p-4 bg-secondary-theme">
    <h1 class="text text-center">About Us</h1>
    <div class="text-container p-5 mt-4">
      <p class="text">
        Welcome to Books World, the ultimate platform for book lovers to exchange
        their beloved reads! Say goodbye to the books gathering dust on your
        shelves and hello to a world of endless literary possibilities. Books World
        allows you to give away the books you no longer need and trade them for
        the ones you've been longing to dive into.
      </p>
      <p class="text">
        Our platform was crafted by passionate book enthusiasts who share a deep
        love for reading. Every day, we strive to enhance your experience and
        make Books World even more user-friendly. With each book exchanged, we take
        a step towards fostering positive change in the world, one page at a
        time. Join us on our journey to spread the joy of reading and connect
        with fellow bookworms around the globe!
      </p>

      <div class="text-center">
        <button class="btn btn-sm mt-4" routerLink="/">Back to Home</button>
      </div>
    </div>
  </div>
</section>
