/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "~ngx-toastr/toastr";

:root {
  --dark-color: #d0ab7c;
  --light-color: #ede1c0;
  --body-text-color: #6b5b4a;
  --navbar-color: #d0ac7ced;
  --header-footer-color: rgba(249, 244, 231, 0.945);
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--body-text-color);
}

.bg-theme {
  background-color: white;
}

.bg-secondary-theme {
  background-color: var(--dark-color);
}

.bg-profile-card-theme {
  background-color: var(--light-color);
  color: var(--body-text-color);
}

.text-theme-primary {
  color: var(--dark-color);
}

.text-theme-dark {
  color: var(--body-text-color);
}

.shadow-effect {
  border: none;
  box-shadow: 5px 5px 10px 2px rgba(123, 98, 80, 0.162);
}

input[type="text"],
input[type="username"],
input[type="email"],
input[type="password"],
input[type="rePassword"] {
  height: 60px;
  padding-left: 20px;
  margin-top: 10px;
  width: 100%;
}

.btn-theme {
  background-color: var(--light-color);
  color: var(--body-text-color);
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-theme:hover {
  background-color: var(--dark-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

