/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #d0ab7c;
  --secondary-color: #ddc8a0;
  --body-text-color: #6b5b4a;
  --navbar-footer-color: #d0ab7c;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--body-text-color);
}
