<div class="card mt-5 mb-5 shadow-effect">
  <div class="card-body mt-3">
    <h4>Offer a book</h4>
    <p>You can offer your book by filling this form</p>

    <form
      class="form-inline"
      #bookOfferForm="ngForm"
      (ngSubmit)="onSubmit(bookOfferForm)"
    >
      <div class="form-group">
        <label for="">Title</label>
        <input
          type="text"
          name="name"
          class="form-control shadow-effect name-input"
          placeholder="Enter the book title here"
          #newBook="ngModel"
          ngModel
          required
          [ngClass]="{ 'is-invalid': newBook.touched && newBook.invalid }"
        />
        <div
          class="alert alert-danger"
          *ngIf="newBook.touched && newBook.invalid"
        >
          Book name field is required
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="">Author</label>
        <input
          type="text"
          name="author"
          class="form-control shadow-effect author-input"
          placeholder="Enter the book author here"
          #author="ngModel"
          ngModel
          required
          [ngClass]="{ 'is-invalid': author.touched && author.invalid }"
        />
        <div
          class="alert alert-danger"
          *ngIf="author.touched && author.invalid"
        >
          Book author field is required
        </div>
      </div>

      <!-- Трябва да добавя падащо меню -->
      <div class="form-group mt-3 shadow-effect">
        <label for="book-condition">Condition</label>
        <select id="book-condition" class="form-control">
          <option class="select" disabled selected>
            Please select a book condition
          </option>
          <option value="Excellent">Excellent</option>
          <option value="Very Good">Very Good</option>
          <option value="Good">Good</option>
          <option value="Satisfactory">Satisfactory</option>
          <option value="Poor">Poor</option>
        </select>
      </div>

      <!-- Трябва да добавя функционалност за качване на снимка -->
      <div class="form-group mt-3">
        <label for="">Book Cover</label>
        <img [src]="imgSrc" class="form-control img-fluid img-preview" />
        <input
          type="file"
          class="form-control"
          accept="image/*"
          (change)="showPreview($event)"
        />
      </div>

      <div class="form-group mt-3">
        <label for="text">Points</label>
        <textarea
          cols="30"
          rows="4"
          name="points"
          class="form-control shadow-effect points-input"
          placeholder="Points: 1 - 10"
          #points="ngModel"
          ngModel
          required
          [ngClass]="{ 'is-invalid': points.touched && points.invalid }"
        ></textarea>
        <div
          class="alert alert-danger"
          *ngIf="points.touched && points.invalid"
        >
          Book points field is required
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="text">Description</label>
        <textarea
          cols="30"
          rows="4"
          name="description"
          class="form-control shadow-effect description-input"
          placeholder="Add a summary of the book"
          #description="ngModel"
          ngModel
          required
          [ngClass]="{
            'is-invalid': description.touched && description.invalid
          }"
        ></textarea>
        <div
          class="alert alert-danger"
          *ngIf="description.touched && description.invalid"
        >
          Book description field is required
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="pages">Pages</label>
        <input
          cols="30"
          rows="4"
          name="pages"
          class="form-control shadow-effect pages-input"
          placeholder="Number of pages - Not required!"
          #pages="ngModel"
          ngModel
        />
      </div>

      <button class="btn btn-theme mt-3" [disabled]="bookOfferForm.invalid">
        Offer the book
      </button>
    </form>
  </div>
</div>
