<div class="card mt-5 mb-5 shadow-effect">
  <div class="card-body mt-3">
    <h4>{{ formStatus }} book</h4>
    <p>You can {{ formStatus }} book by filling this form</p>

    <!-- Book Name -->
    <form class="form-inline" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Title</label>
        <input
          type="text"
          formControlName="name"
          class="form-control shadow-effect name-input"
          placeholder="Enter the book title here"
        />
        <div
          class="alert alert-danger"
          *ngIf="bookForm.get('name')?.invalid && bookForm.get('name')?.touched"
        >
          Book name field is required
        </div>
      </div>

      <!-- Book Author -->
      <div class="form-group mt-3">
        <label for="author">Author</label>
        <input
          type="text"
          formControlName="author"
          class="form-control shadow-effect author-input"
          placeholder="Enter the book author here"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            bookForm.get('author')?.invalid && bookForm.get('author')?.touched
          "
        >
          Book author field is required
        </div>
      </div>

      <!-- Book Condition -->
      <div class="form-group mt-3 shadow-effect">
        <label for="book-condition">Condition</label>
        <select formControlName="condition" class="form-control">
          <option [value]="null" disabled selected>
            Please select a book condition
          </option>
          <option value="Excellent">Excellent</option>
          <option value="Very Good">Very Good</option>
          <option value="Good">Good</option>
          <option value="Satisfactory">Satisfactory</option>
          <option value="Poor">Poor</option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="
            bookForm.get('condition')?.invalid &&
            bookForm.get('condition')?.touched
          "
        >
          Book condition field is required
        </div>
      </div>

      <!-- Book Cover -->
      <div class="form-group mt-3">
        <label for="book-cover">Book Cover (URL)</label>
        <input
          type="text"
          formControlName="image"
          class="form-control"
          placeholder="Enter the image URL"
        />
      </div>

      <!-- Points -->
      <div class="form-group mt-3">
        <label for="points">Points</label>
        <textarea
          cols="30"
          rows="4"
          formControlName="points"
          class="form-control shadow-effect points-input"
          placeholder="Points: 1 - 10"
        ></textarea>
        <div
          class="alert alert-danger"
          *ngIf="
            bookForm.get('points')?.invalid && bookForm.get('points')?.touched
          "
        >
          Book points field is required
        </div>
      </div>

      <!-- Description -->
      <div class="form-group mt-3">
        <label for="description">Description</label>
        <textarea
          cols="30"
          rows="4"
          formControlName="description"
          class="form-control shadow-effect description-input"
          placeholder="Add a summary of the book"
        ></textarea>
        <div
          class="alert alert-danger"
          *ngIf="
            bookForm.get('description')?.invalid &&
            bookForm.get('description')?.touched
          "
        >
          Book description field is required
        </div>
      </div>
      

      <!-- Pages -->
      <div class="form-group mt-3">
        <label for="pages">Pages</label>
        <input
          type="number"
          formControlName="pages"
          class="form-control shadow-effect pages-input"
          placeholder="Number of pages - Not required"
        />
      </div>

      <div class="btn-group">
        <button class="btn btn-theme mt-4" [disabled]="bookForm.invalid">
          {{ formStatus }} book
        </button>
        <button class="btn btn-theme mt-4" routerLink="/home">Back to All Books</button>
      </div>
    </form>
  </div>
</div>
