.card-body {
  color: var(--body-text-color);
}

.condition-input {
  font-size: 13px;
}

.points-input {
  font-size: 13px;
}

.btn-theme {
  background-color: var(--light-color);
  color: var(--body-text-color);
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-theme:hover {
  background-color: var(--dark-color);
}

.img-preview {
  height: 150px;
  width: auto;
}
