<div class="card mt-5 mb-5 shadow-effect">
  <div class="card-body mt-3">
    <h4>Offer this book</h4>
    <p>You can offer this book by filling this form</p>

    <form class="form-inline" #offerForm = 'ngForm' (ngSubmit)="onSubmit(offerForm)">
      <div class="form-group">
        <label for="">Name</label>
        <input
          type="text"
          name="bookName"
          class="form-control shadow-effect"
          placeholder="Enter your name here"
          ngModel
        />
      </div>

      <div class="form-group mt-3">
        <label for="text">Book condition and information</label>
        <input
          cols="30"
          rows="4"
          name="condition"
          class="form-control shadow-effect condition-input"
          placeholder="Condition: New / Excellent / Good / Satisfactory"
          ngModel
        />
      </div>

      <div class="form-group mt-3">
        <label for="text">Points</label>
        <textarea
          cols="30"
          rows="4"
          name="points"
          class="form-control shadow-effect points-input"
          placeholder="Points: 1 - 10"
          ngModel
        ></textarea>
      </div>

      <button class="btn-theme btn-info mt-3">Offer the book</button>
    </form>
  </div>
</div>
