<div class="container">
    <div class="row">
        <!-- Profile -->
        <div class="smth col-md-4 mb-5 " routerLink="/auth/profile/my-books">
            <div class="card shadow-effect">
                <div class="card-body text-center bg-profile-card-theme">
                    <h1 class="mt-2"><i class="fa-solid fa-book"></i></h1>
                    <h2 class="text-theme-dark">My books</h2>
                    <p>Books I have offered</p>
                </div>
            </div>
        </div>

        <!-- Wishlist -->
        <div class="smth col-md-4 mb-5 " routerLink="/auth/profile/wishlist">
            <div class="card shadow-effect">
                <div class="card-body text-center bg-profile-card-theme">
                    <h1 class="mt-2"><i class="fa-solid fa-heart"></i></h1>
                    <h2 class="text-theme-dark">Wishlist</h2>
                    <p>See books in your wishlist</p>
                </div>
            </div>
        </div>

        <!-- Orders -->
        <div class="smth col-md-4 mb-5 " routerLink="/auth/profile/orders">
            <div class="card shadow-effect">
                <div class="card-body text-center bg-profile-card-theme">
                    <h1 class="mt-2"><i class="fa-solid fa-cart-shopping"></i></h1>
                    <h2 class="text-theme-dark">Orders</h2>
                    <p>See books that you ordered</p>
                </div>
            </div>
        </div>


    </div>
</div>