/* body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .quote {
    text-align: center;
  }
  
  .quote p {
    font-size: 1.2rem;
    line-height: 1.6;
  } */