<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="card shadow-effect">
        <div class="card-body ml-custom">
          <h1 class="mt-3 mb-3">Dune</h1>
          <div class="row">
            <div class="col-md-6">
              <img
                src="https://m.media-amazon.com/images/I/81T5ecpb8aL._AC_UF1000,1000_QL80_.jpg"
                alt=""
                class="card-img-left-fluid"
                style="max-width: 350px; height: auto"
              />
              <div class="card-body">
                <small class="text-info text-center">376 pages</small>
                <small class="text-warning text-center ml-custom"
                  >Written: 1968</small
                >
                <small class="text-danger text-center ml-custom"
                  >Ordered: 2 times</small
                >
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
                  obcaecati ducimus, qui numquam molestiae voluptatibus
                  perferendis debitis illo. Animi repellat incidunt excepturi
                  officia, laboriosam eos dignissimos molestias necessitatibus
                  quasi explicabo. Reiciendis, quisquam officiis suscipit
                  tenetur doloribus, maiores a tempora, hic nemo ab iusto est ea
                  libero dolore explicabo nam possimus provident totam pariatur
                  molestias aut! Tempore ab ea consequuntur voluptatum. Ex, ipsa
                  eligendi?
                </p>
                <div class="btn-offer mt-3">
                  <button class="btn-theme mt-3">Add to Wishlist</button>
                  <button class="btn-theme mt-3 ml-custom">Order</button>
                  <button class="btn-theme mt-3 ml-custom" >Edit</button>
                  <!--! Add (click)="onEdit()"-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-5"></div>
  </div>
</div>
