.ml-custom {
    margin-left: 10px;
  }

  .card-body{
    color: var(--body-text-color);
}

.btn-offer .btn-theme[disabled] {
  opacity: 0.5; /* Reduce opacity to indicate disabled state */
  pointer-events: none; /* Disable pointer events */
  cursor: not-allowed; /* Change cursor to indicate not-allowed */
}

