  <div class="card mt-5 mb-5 shadow-effect" *ngIf="isLoggedIn">
    <div class="card-body mt-3">
      <h4>Add a comment for this book</h4>

      <!-- Personal name -->
      <form class="form-inline" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="form-group mt-4">
          <label for="name">Your name</label>
          <input
            type="text"
            formControlName="name"
            class="form-control shadow-effect name-input"
            placeholder="Enter your name here"
          />
          <div
            class="alert alert-danger"
            *ngIf="commentForm.get('name')?.invalid && commentForm.get('name')?.touched"
          >
            Your name is required
          </div>
        </div>
  
        <!-- Comment -->
        <div class="form-group mt-3">
          <label for="comment" class="label mb-2 mt-3">Comment</label>
          <textarea
            cols="30"
            rows="4"
            formControlName="comment"
            class="form-control shadow-effect description-input"
            placeholder="Add a comment for the book"
          ></textarea>
          <div
            class="alert alert-danger"
            *ngIf="
              commentForm.get('comment')?.invalid &&
              commentForm.get('comment')?.touched
            "
          >
            Comment field is required
          </div>
        </div>
  
        <div class="btn-group">
          <button class="btn btn-theme mt-4" [disabled]="commentForm.invalid">
            Add a comment
          </button>
          <button class="btn btn-theme mt-4" routerLink="/home">Back to All Books</button>
        </div>
      </form>
    </div>
</div>