.recently-added-section {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 130px;
  }
  .text {
    color: var(--body-text-color);
  }

  .container{
    color: var(--body-text-color);
}

  