<section class="recently-added-section">
    <div class="container-fluid">
      <div class="row">
        <div class="com-md-12 text-center mt-5">
          <h2 class="text">Recently Added Books</h2>
          <p class="text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <app-book-card></app-book-card>
        </div>
        <div class="col-lg-3">
          <app-book-card></app-book-card>
        </div>
        <div class="col-lg-3">
          <app-book-card></app-book-card>
        </div>
        <div class="col-lg-3">
          <app-book-card></app-book-card>
        </div>
      </div>
    </div>
  </section>