<div class="offer-box mt-5 mb-3 shadow-effect" *ngFor="let book of booksArray">
  <div class="offer-body ml-custom">
    <div class="book-details">
      <img
        src="{{ book?.data.image }}"
        alt="Book Image"
        class="book-image mt-3"
      />
      <div class="content mt-3">
        <h5 class="name">{{ book?.data.name }}</h5>
        <h6 class="date">Added: {{ book.data.added.toDate() | date: 'dd/MM/yyyy' }}</h6>
        <small class="text-danger">Condition: {{ book?.data.condition }}</small>
        <div class="mt-3 mb-3">
          {{ book?.data.description | slice : 200 }}
        </div>
        <div class="btn-offer mt-3">
          <button class="btn-theme mt-3">Add to wishlist</button>
          <button class="btn-theme mt-3 ml-custom">Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
