<section class="p-4 bg-theme">
  <div class="container mt-5 mb-5 p-4 bg-secondary-theme">
    <h1 class="text text-center">Points System</h1>
    <div class="text-container p-5 mt-4">
      <p class="text">
        Ordering points are Books World's swapping currency. The value of the books
        that are offered is given in points, and the points received for the
        books that have been sent, can again in return be swapped for the
        desired books. If you want to order a book, but don't have enough
        points, you can pay for the extra points during the ordering process (1
        point = £1). Points cannot be exchanged for money. Credit is the
        equivalent of money. In case an order is cancelled, the money paid for
        the order will be refunded as Books World credit. Any available credit is
        automatically used when you make new orders.
      </p>

      <div class="text-center">
        <button class="btn btn-sm mt-4" routerLink="/">Back to Home</button>
      </div>
    </div>
  </div>
</section>
