
<div class="card shadow-effect">
    <img src="https://m.media-amazon.com/images/I/81T5ecpb8aL._AC_UF1000,1000_QL80_.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="text-center"> Author </small>
        <small class="text-center ml-3"> Points </small>
        <small class="text-center ml-3"> Condition </small>
        
        <h5 class="mt-1"> Dune </h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio laborum explicabo obcaecati odio nesciunt beatae non facilis molestias pariatur reiciendis. Culpa a consequatur commodi architecto cumque ullam reiciendis illo hic.</p>

        <small class="text-center ml-3"> Added: 1 h ago </small>
    </div>
</div>