<!-- 
<div class="card shadow-effect" *ngFor="let book of booksArray">
    <img src="{{book.image}}" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="text-center"> {{book.author}} </small>
        <small class="text-center ml-3"> {{book.points}} </small>
        <small class="text-center ml-3"> {{book.condition}} </small>
        
        <h5 class="mt-1"> {{book.name}} </h5>
        <p>{{book.description}}</p>

        <small class="text-center ml-3"> Added: {{book.added}} </small>
    </div>
</div> -->