nav {
    font-weight: bold;
    margin-top: 90px;
    height: 60px;
    background-color: var(--navbar-color);
}

.nav-link {
    text-transform: uppercase;
    color: var(--body-text-color)
}

.btn-container {
    display: flex;
    justify-content: center; /* Align items horizontally */
  }
  
