<!-- <section class="p-4 bg-theme">
    <div class="container mt-5 mb-5 p-4 bg-secondary-theme">
      <h1 class="text text-center">Contacts</h1>
      <div class="text-container p-5 mt-4">
        <p class="text"><strong>Email: </strong><a href="mailto:dvmitkova@gmail.com">dvmitkova&#64;gmail.com</a></p>
        <p class="text"><strong>LinkedIn: </strong><a href="www.linkedin.com/in/diana-mitkova-669297b8" target="_blank">www.linkedin.com/in/diana-mitkova-669297b8</a></p>
        <p class="text"><strong>GitHub: </strong><a href="https://github.com/dvmitkova" target="_blank">https://github.com/dvmitkova</a></p>
        <p class="text"><strong>Facebook:</strong><a href="https://www.facebook.com/profile.php?id=100008026068783" target="_blank">https://www.facebook.com/profile.php?id=100008026068783</a></p>
        <div class="text-center">
          <button class="btn btn-sm mt-4" routerLink="/">Back to Home</button>
        </div>
      </div>
    </div>
  </section> -->

  <section class="p-4 bg-theme">
    <div class="container mt-5 mb-5 p-4 bg-secondary-theme">
      <h1 class="text text-center">Contacts</h1>
      <div class="text-container p-5 mt-4">
        <p class="text"><strong>Email: </strong><a href="mailto:dvmitkova@gmail.com">dvmitkova&#64;gmail.com</a></p>
        <p class="text"><strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/diana-mitkova-669297b8" target="_blank">www.linkedin.com/in/diana-mitkova-669297b8</a></p>
        <p class="text"><strong>GitHub: </strong><a href="https://github.com/dvmitkova" target="_blank">https://github.com/dvmitkova</a></p>
        <p class="text"><strong>Facebook:</strong><a href="https://www.facebook.com/profile.php?id=100008026068783" target="_blank">https://www.facebook.com/profile.php?id=100008026068783</a></p>
        <div class="text-center">
          <button class="btn btn-sm mt-4" routerLink="/">Back to Home</button>
        </div>
      </div>
    </div>
  </section>