header {
  height: 90px;
  position: fixed;
  width: 100%;
  background-color: var(--secondary-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.site-logo {
  color: var(--body-text-color);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 2px; 
}