<!-- <div class="card mb-5 mt-3 pb-3 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Offers - {{ booksArray.length }}</h4>

    <div class="offer-box mb-3 mt-4">
      <div class="offer-body ml-custom" *ngFor="let book of booksArray">
        <img src="{{ book.image }}" alt="post-image" class="card-img-top" />
        <h6 class="name">{{ book.name }}</h6>
        <h6 class="points">Points: {{ book.points }}</h6>
        <small class="text-danger">Condition: {{ book.condition }}</small>
        <div class="mt-3 mb-3">
          Description: {{ book.description | slice : 100 }}
        </div>

        <div class="btn-offer mt-3">
          <button class="btn-theme mt-3">Ask a question</button>
          <button class="btn-theme mt-3 ml-custom">Order</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="offer-box mt-3 mb-3">
  <div class="offer-body ml-custom">

      <h6 class="name">Pesho Ivanov</h6>
      <h6 class="date">05.09.2017</h6>
      <small class="text-danger">Condition - 3</small>
      <div class="mt-3 mb-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, at.
      </div>
      
      <div class="btn-offer mt-3">
          <button class="btn-theme mt-3">Ask a question</button>
          <button class="btn-theme mt-3 ml-custom">Order</button>
      </div>
  </div>
  
</div>