<section class="p-4 bg-theme">
  <div class="container mt-5 mb-5 p-4 bg-secondary-theme">
    <h1 class="text text-center">Delivery</h1>
    <div class="text-container p-5 mt-4">
        <h3 class="text">Information for the sender</h3>
      <p class="text">
        Properly packaging the books you are sending
        is important! We recommend reusing any existing materials you already
        have in your home - paper shopping bags, padded envelopes, boxes from
        previously received packages, etc. When you are packaging the books you
        send out, think about the recipient who is eagerly waiting for them and
        how upset they would be if they were damaged in transit.
      </p>
      <h3 class="text">Information for the recipient</h3>
      <p class="text">
        After the sender has dropped off the book
        at the parcel machine, you will receive a notification email with the
        tracking code, which you can enter to track the parcel. Once your order
        has been posted, shipping usually takes 2-5 working days. Orders are
        delivered to your home address.
      </p>

      <div class="text-center">
        <button class="btn btn-sm mt-4" routerLink="/">Back to Home</button>
      </div>
    </div>
  </div>
</section>
